<app-header></app-header>
<div class="container">
    <div class="confirmation-container">
        <h1>Order Confirmation</h1>
        <p>Thank you for your order! Below is the detailed information:</p>
        <div class="row justify-content-center">
            <div class="col-md-10">
                <table>
                    <thead>
                        <tr>
                            <th scope="col">Product</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">Unit Price</th>
                            <th scope="col">Amount</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="text-center">
                                <div class="product-info d-flex justify-content-center align-items-center">
                                    <img src="https://images.pexels.com/photos/459653/pexels-photo-459653.jpeg?auto=compress&cs=tinysrgb&w=400" alt="Product Image" class="product-image">  
                                    <span class="product-name">Product name</span>
                                </div>
                            </td>                            
                            <td>2</td>
                            <td>AU$1,799.00</td>
                            <td>AU$3,598.00</td>
                        </tr>
                    </tbody>
                </table>
                <div class="text-start mt-3">
                    <h4 class="total-price header-text text-end">Total Price: AU$3,598.00</h4>
                </div>
                <div class="text-center mt-3">
                    <button class="btn btn-gradient" type="button">Continue shopping</button>
                </div>
            </div>

        </div>
    </div>
</div>
<app-footer></app-footer>
